<div id="description-VideoBundle" style="display: none;">
    {{ include('@Video/section/description.html.twig') }}
</div>

<div id="artist-VideoBundle" style="display: none;">
    {{ include('@Video/section/artist.html.twig') }}
</div>

<div id="lyrics-VideoBundle" style="display: none;">
    {{ include('@Video/section/lyrics.html.twig') }}
</div>

<div id="donate-VideoBundle" style="display: none;">
    {{ include('@Video/section/donate.html.twig') }}
</div>